@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}
.h2{
    color: #f9532d ;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s, color 0.3s;

}


@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animated-text {
    display: inline-block;
    animation: slide 2s ;
  }


.container {
    padding: 0 7.4rem;
   
}

.container1 {
    padding: 0 8.4rem;
    padding-top: 5.5rem;
}



    .icon {
       
        animation: fade-in 1s ease forwards;
      }
    
      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    
      /* Delay animation for each icon */
      .icon:nth-child(1) {
        animation-delay: 0.5s;
      }
      .icon:nth-child(2) {
        animation-delay: 1s;
      }
      .icon:nth-child(3) {
        animation-delay: 1.5s;
      }
      .icon:nth-child(4) {
        animation-delay: 2.0s;
      }
      .icon:nth-child(5) {
        animation-delay: 2.5s;
      }
       
    

    .container2 {
        padding: 0 8.4rem;
    padding-top: 5.5rem;
    text-align:left;
    }

    .container3 {
        padding: 0 8.4rem;
    padding-top: 5.5rem;
    }

    .container4 {
        padding: 0 8.4rem;
    padding-top: 5.5rem;
    }


    @media screen and (max-width: 768px) {
        .container2 > * {
            width: 100%; /* On smaller screens, make each column take up full width */
        }
    }

    
    .perso1 {
        margin-right: 10px;
    } 
        
.img-w {
    width: 100%;
}
.two{
    width: 10%;
}
header {
    position: relative;
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}


.sandeep{
    margin-left:400px;
    text-align:justify;
    margin-top: 0px;
    
}
.shift{
    text-align:justify;
    margin-right: 0px;
    
  
  
}


.logo a {
    color: #244D61;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 0.950rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
}

li a.active,
li a:hover {
    color: var(--primary-color);
}
.place:hover{
    
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    align-items: center;
}

.main h1 {
    font-size: 4rem;
    font-weight: 600;
}

.main p {
    line-height: 1.7;
    font-size: 1.15rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #244D61;
    font-size: 1.5rem;
    border: 1.6px solid #244D61;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
}

.social a:hover {
    color: #fff;
    background-color: #244D61;
    box-shadow: 0 0 20px #244D61;
    transition: all .3s ease-in-out;
}

.main h3 {
    font-size: 1.5rem;
    font-weight: 400;
}
.img-sec:hover .img-w {
    filter: brightness(120%);
   
    transform: scale(1.05);
    z-index: 2;
  

}
.img-w {
    transition: filter 0.2s ease-in-out;
    border-radius: 10px;
    transition: transform 1s, filter 1s ease-in-out;
 
}
.images::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 130px);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 6px;
    z-index: -1;
}

.images::before {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.images {
    width: 80%;
    margin-left: auto;
    position: relative;
    z-index: -1;
    transition: box-shadow 0.3s;
}

.hr{
    width: 50%;
}
.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

:is(.dark-mode) {
    .social a {
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
    }

    .social a:hover {
        color: var(--primary-dark);
        background-color: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color);
    }

    .logo a {
        color: #fff;
    }

    .images::before {
        background: linear-gradient(145deg, #1f252e, #2e3239);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    }
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}

.perso1{
    padding:0 1px;
    margin: 2%;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
       
    }
    .container1 {
        padding: 0 4.4rem;
       
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
        font-size: small;
      
    }

    .container1 {
        padding: 0 1.6rem;
      font-size: small;
    }
}

@media screen and (max-width:600px) {

    header {
        height: auto;
    }

    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }

    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
}





.card {
    position: relative;
    overflow: hidden;
    aspect-ratio: 9/12;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw, rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
    transition: box-shadow 1s var(--cover-ease);
    z-index: 0;
  }
  .card > * {
    z-index: 2;
  }
  .card > img {
    z-index: 0;
    transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
  }
  .card::before, .card::after {
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform-origin: left;
    transform: scaleX(0);
    transition: all var(--cover-timing) var(--cover-ease);
    z-index: 1;
  }
  .card::after {
    transition-delay: var(--cover-stagger);
    top: 50%;
  }
  .card:hover, .card:focus {
    box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scaleX(1);
  }
  .card:hover h2 .char, .card:hover p .word, .card:focus h2 .char, .card:focus p .word {
    opacity: 1;
    transform: translateY(0);
    color: inherit;
  }
  .card:hover h2 .char, .card:focus h2 .char {
    transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
  }
  .card:hover p .word, .card:focus p .word {
    transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
  }
  .card:hover img, .card:focus img {
    transform: scale(1.1);
  }
  .card:nth-of-type(1) {
    --highlight: coral;
  }
  .card:nth-of-type(2) {
    --highlight: #56ffe5;
  }
  
  .text {
    position: absolute;
    inset: 20px;
    top: auto;
  }
  
  .card{
    font-size: 8px;
    font-size: clamp(10px, 1.25vw, 14px);
    line-height: 1.4;
    text-align:center


  }


  .card .word {
    color: var(--highlight);
    display: inline-block;
    opacity: 0;
    position: relative;
    transform: translateY(20px);
    transition-property: transform, opacity, color;
    transition-timing-function: var(--text-ease);
    transition-duration: var(--text-timing), var(--text-timing), calc(var(--text-timing)*2);
  }


  .card_image {
    position:absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 7px;
  }
  
.links{
    color:#D1D9E6;
}


  main {
   
   
    grid-gap: 2em;
    display: flex;
  }
  @media screen and (min-width: 600px) {
    main {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
    }
  }
  
  .card {
    width: 50vw;
    max-width: 150px;
  }
  @media screen and (min-width: 600px) {
    .card {
      width: 40vw;
    }
  }
  
  
  @media screen and (min-width: 600px) {
    h1 {
      grid-column: 1/3;
    }
  }




 main {
    display: flex
  
  }
  
main{
    color: white;
   
    padding: 0;
    margin: 0;
  
    font-family: "Open Sans", sans-serif;
  }
  


  :root {
    --cover-timing: 0.5s;
    --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
    --cover-stagger: 0.15s;
    --text-timing: .75s;
    --text-stagger: 0.015s;
    --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
    --title-stagger: 0.05s;
    --highlight: white;
  }




  /* the readmore cards */


  /* ==========================Font========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
  font-family: 'robotoregular';
  src: url(../fonts/roboto-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "robotoregular", sans-serif;
}


.containerX {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerX .card1 {
  position: relative;
  width: 300px;
  height: 420px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
  transition: .5s ease-in-out;
}

.containerX:hover .card1 {
  filter: blur(20px);
  transform: scale(.9);
  opacity: .5;
}

.containerX .card1:hover {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}

.containerX .card1:hover .circle {
  clip-path: circle(600px);
}

.containerX .card1:hover .content p {
  color: #fff;
}

.containerX .card1:hover .content a {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2),
              -1px -1px 2px rgba(255, 255, 255, .4);
}

.containerX .card1 .content a:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1),
              inset 5px 5px 5px rgba(0, 0, 0, .04),
              inset -5px -5px 5px rgba(255, 255, 255, .07),
              inset -1px -1px 2px rgba(255, 255, 255, .4);
}

.containerX .card1 .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
  transition: 1s ease-in-out;
}

.containerX .card1 .h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}

.containerX .card1 .content {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}

.containerX .card1 .content p {
  color: #666;
  transition: .5s ease-in-out;
}

.containerX .card1 .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  transition: .8s ease-in-out;
}

.containerX .card1:nth-child(1) .circle,
.containerX .card1:nth-child(1) .content a {
  background: #ffaf00;
}

.containerX .card1:nth-child(2) .circle,
.containerX .card1:nth-child(2) .content a {
  background: #da2268;
}

.containerX .card1:nth-child(3) .circle,
.containerX .card1:nth-child(3) .content a {
  background: #bb02ff;
}


@keyframes colorChange {
  0% {
    color: #fff;
  }

  50% {
    color: #b1b493;
  }

  80% {
    color: #4f8a8b;
  }

  100% {
    color: #fff;
  }
}

/* =======================Responsive Breakpoint ========================== */

@media only screen and (max-width: 992px) {
  /* Add responsive styles for max-width 992px */
}

@media only screen and (max-width: 768px) {
  /* Add responsive styles for max-width 768px */
}



/* 
quotes section */

.column-quote {
   margin-top: 75px;
   margin-left: 55px;
  width: 90%;
  height: 225px;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  padding-bottom:40px;
  
 
  margin-bottom:30px;
  border: 1px solid #f9532d;
  box-shadow:0px 0px 20px #f9532d;
 border-radius: 5px;
 
 -webkit-animation: blink 3.0s linear infinite;
    -moz-animation: blink 3.0s linear infinite;
    -ms-animation: blink 3.0s linear infinite;
    -o-animation: blink 3.0s linear infinite;
    animation: blink 3.0s linear infinite;
}

@keyframes blink {
  0% { box-shadow: 0 0 25px #f9532d; }
  50% { box-shadow: none; }
  100% { box-shadow: 0 0 25px #f9532d; }
}

@-webkit-keyframes blink {
  0% { box-shadow: 0 0 25px #f9532d; }
  50% { box-shadow: 0 0 0; }
  100% { box-shadow: 0 0 5px #f9532d; }
}

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&family=Yeseva+One&display=swap');



.quote {
  padding: auto;
  font-size:50px;
  font-weight:bold;
  line-height: 1;
  text-align: center;
  opacity: 1;
  
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  
  
}

.containerY{padding: 0 8.4rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.hr5{
  margin-left: 300px;
  
}



.quotings{
  font-size: 99px;
  opacity: 0.5;
color: #f9532d;
font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
