
.containerXX{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    border-radius: 10px;
}


.containerXX .cardXX{
    position: relative;
    cursor: pointer;
}

.containerXX .cardXX .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containerXX .cardXX .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerXX .cardXX:hover .face.face1{
    background: #f9532d;
    transform: translateY(0);
}

.containerXX .cardXX .face.face1 .contentXX{
    opacity: 1;
    transition: 0.5s;
}

.containerXX .cardXX:hover .face.face1 .contentXX{
    opacity: 1;
}

.containerXX .cardXX .face.face1 .contentXX img{
    max-width: 100px;
}

.containerXX .cardXX .face.face1 .contentXX h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.containerXX .cardXX .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.containerXX .cardXX:hover .face.face2{
    transform: translateY(0);
}

.containerXX .cardXX .face.face2 .contentXX p{
    margin: 0;
    padding: 0;
}

.containerXX .cardXX .face.face2 .contentXX a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.containerXX .cardXX .face.face2 .contentXX a:hover{
    background: #333;
    color: #fff;
}


.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
  
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #ff0404;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup .tiptop {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #ff0404;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }




  .popup1 {
    margin: 45px auto;
    padding: 15px 20px 5px 20px;
    background: #fff;
    
    width: 70%;
    position: relative;
    transition: all 0.5s ease-in-out;
   
  }
  
  .popup1 .tiptop {
    
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup1 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup1 .close:hover {
    color: #ff0404;
  }
  .popup1 .content {
    max-height: 20%;
    overflow:auto;
  }
  





  .popup2 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    
    width: 70%;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .popup2 .tiptop {
    text-align: center;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup2 .close:hover {
    color: #ff0404;
  }
  .popup2 .content {
    max-height: 30%;
    overflow: auto;
  }
  




  .popup3 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
 
    width: 70%;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .popup3 .tiptop {
    text-align: center;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup3 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup3 .close:hover {
    color: #ff0404;
  }
  .popup3 .content {
    max-height: 30%;
    overflow: auto;
  }
  





  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }

    .popup1{
        width: 70%;
      }

      .popup2{
        width: 70%;
      }
      .popup3{
        width: 70%;
      }
      .popup1{
        width: 70%;
      }

  }

